/*
    This is just some basic css to make the demo page a little bit nicer. 
    This has nothing to do with the core objective of the repo, wich is the JavaScript API wrapper class around the fetch object.
    You should style using classes and not style the HTML elements directly.
*/
@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);

* {
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;   
    box-sizing: border-box; 
    
    outline: none;
}

html {
    margin:0;
    font-family: Roboto,sans-serif;
    overflow-y: scroll;
}

main {
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    margin-bottom: 0;
    color: #212529;
}

pre {
    border-radius: .5rem;
    background-color: #343740 !important;
    margin-bottom: 1.5rem !important;
    padding: 1.5rem !important;
}

button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    color: #212529;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #0166A5;
    font-size: 1rem;
    border-radius: .25rem;
    border: none;
    cursor: pointer;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, .1);
    color: #FFFFFF;
    padding: .625rem;
    transition: box-shadow ease-in-out 200ms;
}

button:focus {
    box-shadow: 0 0 0 3px #bee3fa;
}